@import "../../../styles/abstracts/variables/variables";
@import "../../../styles/abstracts/mixins/mixins";

.Info {
  position: relative;
  background-color: $color-primary;
  border: 1px solid $color-shades-800;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  margin: auto;

  &::before {
    content: "";
    position: absolute;
    backdrop-filter: blur(12px);
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
  }
}

.Corner {
  &__tl,
  &__tr,
  &__bl,
  &__br {
    position: absolute;
    z-index: 1;
  }

  &__tl,
  &__tr {
    top: 0.5rem;
  }

  &__bl,
  &__br {
    bottom: 0.5rem;
    transform: rotateX(180deg);
  }

  &__tl,
  &__bl {
    left: 0.5rem;
  }

  &__tr,
  &__br {
    right: 0.5rem;
    transform: rotateY(180deg);
  }

  &__br {
    transform: rotateY(180deg) rotateX(180deg) !important;
  }
}
