@import "../../../styles/abstracts/variables/variables";
@import "../../../styles/abstracts/mixins/mixins";

.cardBSC {
  width: 310px;
  height: 100px;
  padding: 1rem;
  border: 1px solid $color-shades-800;
  background: rgba($color-bg-dark, 50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    backdrop-filter: blur(12px);
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
  }
}

.cardBSC__line {
  transform: rotate(90deg);
  background-color: $color-shades-800;
  width: calc(100% + 1rem);
}
