@import "../../../styles/abstracts/variables/variables";
@import "../../../styles/abstracts/mixins/mixins";

.S03 {
  background-color: black;
  position: relative;
  overflow: hidden;

  & > div:first-child {
    transform: rotate(-2.15deg) translateY(100px) scale(1.15);
  }

  &__cover {
    background-color: $color-secondary;
    padding-top: 9rem;
  }

  &__cover > div {
    max-width: 2000px;
    width: 100%;
  }

  &__cover > div > div:first-child {
    @include respond-to("medium") {
      height: 600px;
      margin-left: -1.5rem;
      width: calc(100% + 3rem);
    }
    @include respond-to("small") {
      height: 400px;
    }
  }

  &__cover > div > div > span {
    @include respond-to("medium") {
      height: 100% !important;
    }
  }

  &__cover > div > div > span > img {
    @include respond-to("medium") {
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    color: $color-shades-000;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    padding: 3rem 0;
    background-image: linear-gradient(
      360deg,
      rgba($color-bg-dark, 1) 10%,
      rgba($color-bg-dark, 0.75) 40%,
      rgba($color-bg-dark, 0.15) 80%,
      rgba($color-bg-dark, 0)
    );
    @include respond-to("small") {
      padding: 2rem 0;
    }
  }

  &__content > div > h3 {
    @include respond-to("small") {
      margin: 0 0.25rem 0.25rem;
      font-size: 1.25rem;
    }
    @include respond-to("x-small") {
      white-space: pre-wrap;
    }
  }

  &__content > div > h4 {
    @include respond-to("small") {
      font-size: 1.15rem;
    }
  }
}
