// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&family=Tomorrow:wght@300;400;500;600;700;800&display=swap");

/* ABSTRACTS
--------------------------------------------- */
@import "abstracts/abstracts";

/*--------------------------------------------------------------
# BASE
--------------------------------------------------------------*/
@import "base/base";

/*--------------------------------------------------------------
# COMPONENTS
--------------------------------------------------------------*/
@import "components/components";

/* PAGES
--------------------------------------------- */
@import "pages/pages";

/*--------------------------------------------------------------
# THEME CONFIG
--------------------------------------------------------------*/

.--theme-dark {
  .--themed {
    &-bg {
      background-color: $color-bg-dark;
      transition: background-color 0.4s $easing-expo;
    }

    &-logo {
      color: $color-secondary;
      transition: color 0.4s $easing-expo;
    }

    &-nav {
      color: $color-shades-000 !important;
      transition: color 0.4s $easing-expo;
    }

    &-nav a {
      color: $color-shades-000 !important;
      transition: color 0.4s $easing-expo;
    }

    &-titles {
      color: $color-shades-000;
      transition: color 0.4s $easing-expo;
    }

    &-hr {
      background-color: $color-shades-800;
      transition: background-color 0.4s $easing-expo;
    }

    &-icon {
      > svg:first-child path:first-child {
        fill: #20242d;
        transition: all 0.4s $easing-expo;
      }
      > svg:first-child path:not(:first-child) {
        stroke: $color-secondary;
        transition: all 0.4s $easing-expo;
      }
      > div {
        color: $color-secondary;
        transition: all 0.4s $easing-expo;
      }
    }
  }
  p {
    color: $color-shades-300;
  }
}

.--theme-light {
  .--themed {
    &-bg {
      background-color: $color-bg-light;
      transition: background-color 0.4s $easing-expo;
    }

    &-logo {
      color: $color-primary;
      transition: color 0.4s $easing-expo;
    }

    &-nav {
      color: $color-shades-900 !important;
      transition: color 0.4s $easing-expo;
    }

    &-nav a {
      color: $color-shades-900 !important;
      transition: color 0.4s $easing-expo;
    }

    &-titles {
      color: $color-shades-900;
      transition: color 0.4s $easing-expo;
    }

    &-hr {
      background-color: $color-shades-200;
      transition: background-color 0.4s $easing-expo;
    }

    &-icon {
      > svg:first-child path:first-child {
        fill: #fde68a;
        transition: all 0.4s $easing-expo;
      }
      > svg:first-child path:not(:first-child) {
        stroke: #20242d;
        transition: all 0.4s $easing-expo;
      }
      > div {
        color: #20242d;
        transition: all 0.4s $easing-expo;
      }
    }
  }
}

.--static-icon {
  > svg:first-child path:first-child {
    fill: #20242d;
    transition: all 0.4s $easing-expo;
  }
  > svg:first-child path:not(:first-child) {
    stroke: $color-secondary;
    transition: all 0.4s $easing-expo;
  }
  > div {
    color: $color-secondary;
    transition: all 0.4s $easing-expo;
  }
}

.wrapper {
  background-image: url("../public/assets/images/LIGHT_BLOBS.png");
  background-position: top center;
  background-repeat: repeat;
  background-size: contain;
}

// .example-container {
//   width: 320px;
//   padding: 20px;
// }

// .refresh {
//   padding: 10px;
//   position: absolute;
//   background: rgba(0, 0, 0, 0.4);
//   border-radius: 10px;
//   width: 20px;
//   height: 20px;
//   top: 10px;
//   right: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
// }

// .content-placeholder {
//   padding: 20px;
//   transform-origin: top center;
// }

// header {
//   background: #0055ff;
//   border-radius: 10px;
//   color: white;
//   cursor: pointer;
//   height: 40px;
//   margin-bottom: 20px;
// }

// .word {
//   height: 18px;
//   border-radius: 10px;
//   display: inline-block;
//   margin-bottom: 8px;
//   margin-right: 8px;
//   background: #0055ff;
//   border-radius: 10px;
//   display: inline-block;
// }

// .paragraph {
//   margin-bottom: 20px;
// }

// section {
//   overflow: hidden;
// }

// @media (max-width: 600px) {
//   .content-placeholder {
//     padding-left: 20px;
//   }

//   .header .word {
//     height: 30px;
//   }

//   .word {
//     height: 14px;
//     margin-bottom: 5px;
//     margin-right: 5px;
//   }

//   .paragraph {
//     margin-bottom: 20px;
//   }
// }
